<!DOCTYPE html>
<html>

<head>
  <% include ../../partial/head %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.snow.css">
  <link  href="/css/cropper.css" rel="stylesheet">
  <title>Blank Page | Bootstrap Based Admin Template - Material Design</title>
  <style media="screen">
    .img-label img{
      width: 25rem;
    }
    .img-label{
      cursor: pointer;
    }
    .img-container img{
      max-width: 100%;
    }
  </style>
</head>

<body class="theme-red">
  <!-- Page Loader -->
  <% include ../../partial/header %>
    <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
        <% include ../../partial/leftsidebar %>
          <!-- #Menu -->
          <!-- Footer -->
          <% include ../../partial/footer %>
            <!-- #Footer -->
      </aside>
      <!-- #END# Left Sidebar -->
      <!-- Right Sidebar -->
      <% include ../../partial/rightsidebar %>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="block-header">
          <div class="body">

              <ol class="breadcrumb">
                  <li>
                      <a href="/admin">
                          <i class="material-icons">home</i> Home
                      </a>
                  </li>
                  <li>
                      <a href="/admin/users/list">
                          <i class="material-icons">person</i> Users
                      </a>
                  </li>
                  <li class="active">
                      <i class="material-icons">list</i> ADD USER
                  </li>
              </ol>
          </div>

  <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header">
                  <h2>
                      ADD USER
                  </h2>
                  <ul class="header-dropdown m-r--5">
                      <li class="dropdown">
                          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <i class="material-icons">more_vert</i>
                          </a>
                          <ul class="dropdown-menu pull-right">
                              <li><a href="/admin/users/list">User List</a></li>
                              <li><a href="javascript:frm.reset();">RESET</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="body">
                  <form action="/admin/users/add" name="frm" method="post" id="frm" class="form-horizontal " enctype="multipart/form-data">
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="name">Title</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <div class="form-line">
                                      <input type="text" id="name" name="name" class="form-control" placeholder="Your Name">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="photo">Image</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <label class="img-label" data-toggle="tooltip" title="Select photo">
                                      <img class="rounded" id="photo" src="/images/upload.png" alt="Image">
                                      <input type="file" class="sr-only" id="uploadImg" name="uploadImg" accept="images/*">
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                              <label for="email">Content</label>
                          </div>
                          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-group">
                                  <div class="" id="editor">

                                  </div>
                              </div>
                          </div>
                      </div>



                      <div class="row clearfix">
                          <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                              <button type="button" id="save" class="btn btn-primary m-t-15 waves-effect" value="save">SAVE</button>
                              <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#modal">MODAL - DEFAULT SIZE</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  </section>
  <!-- Large Size -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                          <div class="img-container">
                            <img src="/images/upload.png" id="sourceImg" alt="">
                          </div>

                        </div>
                        <div class="modal-footer">
                            <button id="crop" type="button" class="btn btn-link waves-effect">Crop</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.js" charset="utf-8"></script>
<script src="/js/jquery.js" charset="utf-8"></script>
<script src="/js/cropper.js" charset="utf-8"></script>
<script src="/js/jquery-cropper.js" charset="utf-8"></script>
<% include ../../partial/scripts %>
<script src="/js/demo.js"></script>
<!-- Custom Js -->
<script src="/js/admin.js"></script>
<script type="text/javascript">
  // var toolbarOptions = [
  //   [{'font': [] }],
  //   [{'size': [] }], //customer dropdown
  //   ['bold', 'italic', 'underline', 'strike'],
  // ]

  var quill = new Quill('#editor', {
    modules: { toolbar: true },
    theme: 'snow'
  });
  $('[data-toggle="tooltip"]').tooltip();

  var $modal = $('#modal');
       var uploadImg = document.getElementById('uploadImg'); // upload file
       uploadImg.addEventListener('change', function (e) {
           var files = e.target.files;
           var done = function (url) {
             uploadImg.value = '';
             $('#sourceImg').attr('src', url);
             $modal.modal('show');
           };
           var reader;
           var file;
           var url;
           if (files && files.length > 0) {
             file = files[0];
             if (URL) {
               done(URL.createObjectURL(file));
             } else if (FileReader) {
               reader = new FileReader();
               reader.onload = function (e) {
                 done(reader.result);
               };
               reader.readAsDataURL(file);
             }
           }
       });
       var cropper;
       var canvas;
       var sourceImg = document.getElementById('sourceImg');
       $modal.on('shown.bs.modal', function () {
         cropper = new Cropper(sourceImg, {
             aspectRatio: 16 / 9,
             preview: '.img-preview',
             viewMode: 1,
         });
       }).on('hidden.bs.modal', function () {
         cropper.destroy();
         cropper = null;
       });

       $('#crop').click( function () {
         $modal.modal('hide');
         if (cropper) {
           canvas = cropper.getCroppedCanvas({
             width: 320,
             height: 180,
           });
           $('#photo').attr('src', canvas.toDataURL() ); // change cropped image
         }
       });

       $('#save').click(function(){
           canvas.toBlob(function (blob) {
               var formData = new FormData(document.querySelector('form'));
               formData.append('photo', blob);
               formData.append('contents', quill.container.firstChild.innerHTML);
               $.ajax('/admin/posts/add', {
                 method: 'POST',
                 data: formData,
                 processData: false,
                 contentType: false,
                 success: function (rtn) {
                     console.log(rtn);
                 },
                 error: function (err) {
                     console.log(err);
                 },
                 complete: function () {
                     console.log('complate');
                 },
               });
           });
       });
</script>
</html>
